.project-list-item {
  grid-template-columns: 48px 1fr;
}

.project-list-item .project-list-item-logo {
  height: auto;
  padding: unset;
  border: unset;
}

@media screen and (min-width: 768px) {
  .project-list-item {
    grid-template-columns: 64px 1fr;
  }

  .project-list-item .project-list-item-logo {
    height: 100%;
    border: 1px solid #e5e7eb;
    padding: 0.25rem;
  }
}
